################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/teste/teste/obj/Debug
